@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
h1, h2, h3, h4, h5, h6,
p,
ol, ul,
li,
pre,
code,
hr,
table, thead, tbody, tr, th, td
{
  all: revert;
}
blockquote {
    all: revert;
    border-left: 4px solid #ccc;
    padding-left: 1rem;
    color: #666;
    font-style: italic;
    margin: 1em 0;
  }
.dark blockquote {
  border-left-color: #444;
  color: #aaa;
}
}
body {
  @apply bg-white text-black dark:bg-zinc-900 dark:text-zinc-100;
}
.preview-html * {
  word-break: break-word;
  white-space: pre-wrap;
}