@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-white text-black dark:bg-zinc-900 dark:text-zinc-100;
  }

  .preview-html * {
    all: revert;
    word-break: break-word;
    white-space: pre-wrap;
  }

  .markdown p,
  .markdown h1,
  .markdown h2,
  .markdown ul,
  .markdown ol {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
  }

  .preview-html blockquote {
      all: revert;
      border-left: 4px solid #ccc;
      padding-left: 1rem;
      color: #666;
      font-style: italic;
      margin: 1em 0;
  }

  .dark .preview-html blockquote {
    border-left-color: #444;
    color: #aaa;
  }

  .preview-html table {
    border-collapse: collapse;
    width: 100%;
  }

  .preview-html th, .preview-html td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
  }

  .dark .preview-html th, .dark .preview-html td {
    border: 1px solid #aaa;
  }
}